<mat-toolbar>
  <div id="icons_container" (click)="util.changeNavState()">
    <div id="slider" class="close" [ngClass]="{'open': util.sideNavState}">
      <mat-icon>menu</mat-icon>
      <mat-icon>menu_open</mat-icon>
    </div>
  </div>
  <span class="spacer"></span>
</mat-toolbar>
<mat-drawer-container class="container">
  <mat-drawer mode="side" [(opened)]="util.sideNavState">
    <div class="antiScrollingContainer">
      <section id="menu">
        <mat-list>
          <h3 mat-subheader>Gestión</h3>
          <mat-list-item matRipple>
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 mat-line>Cotización</h4>
          </mat-list-item>
        </mat-list>
      </section>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>